* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 1200px;
    height: 300vh;
    margin: 0px auto;
}

.footer {
    width: 100%;
    height: 100vh;
    background-color: black;
}

.content {
    display: inline-flex;
}